.header {
    padding: 20.5px 0;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    max-width: 146px;
    display: inline-block;
}

.menu {
}

.menu__list-links {
    display: flex;
    column-gap: 64px;
}

.menu__item {
}

.anchor-link {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    color: $txtColor;
}