
.my-works__content {
    padding: 64px 0;
    .context-title {
        text-align: center;
        margin-bottom: 32px;
    }
}

.context-title {
}

.project-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.project-list__item {

}

.project-card {
    width: 320px;
    height: 320px;
}

.project-card__img {
}
