@mixin hover-link ($color) {
    @media (hover:hover) {
        .anchor-link:hover {
            color: $color;
            cursor: pointer;
        }
    }
}

@mixin hover-card ($color) {
    @media (hover:hover) {
        &:hover {
            .card-icon {
                fill: $color;
            }
            .card-title {
                color: $color;
            }
        }
    }
}

@mixin hover-info {
    @media (hover:hover) {
        &:hover {
            .project-card__info {
                transform: translateY(100%);
            }
        }
    }
}