$bgPage: #1B1A17;
$bgSkillCard: #1F1E1B;
$contextColor: rgb(255, 0, 0);
$txtColor: #F0E3CA;
$headingTxt: #db2c2c;
$html: #FC490B;
$css: #2196F4;
$js: #FFDF00;
$scss: #CA669B;
$git: #F25234;
$projectCard: rgba(33, 32, 29, 0.98);
$buttonBg: #32312E;